* {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

p,
a,
ul,
ol,
span,
li {
		font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    color: var(--white);
    background-color: var(--dark);
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
