:root {
    --white: #f8f8f8;
    --light-grey: #c5c5c5;
    --overlay: #24242499;
    --dark: #3c3f41;
    --dark-light: #58595c;
    --dark-blue: #282c34;
    --dark-grey: #242424;
    --dark-shadow: #242424;
    --red: #fc635d;
    --yellow: #f4bf75;
    --green: #34c94a;
    --blue: #6a9fb5;
    --orange: #d28445;
}
